<!DOCTYPE html>
<html>
  <head>
    <title>{{ .apiDetail.Name }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/octicons.css">
  </head>
  <body>
    {{ template "navbar" . }}

    <div class="container">
        <h1>API {{ .apiDetail.Name }}</h1>
        <p>
          {{ if .error }}{{ .message }}{{ end }}
        </p>
        <div class="panel panel-default">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>RequestHost</th>
                <th>RequestPath</th>
                <th>StripRequestPath?</th>
                <th>UpstreamURL</th>
                <th>EnableOauth2</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ .apiDetail.ID }}</td>
                <td>{{ .apiDetail.Name }}</td>
                <td>{{ .apiDetail.RequestHost }}</td>
                <td>{{ .apiDetail.RequestPath }}</td>
                <td>{{ .apiDetail.StripRequestPath }}</td>
                <td>{{ .apiDetail.UpstreamURL }}</td>
                <td>{{ .enableOAuth2 }}</td>
                <td>
                  <form method="POST" action="/apis/{{ .apiDetail.Name }}/delete">
                    <button type="submit" class="btn btn-danger" onclick='return confirm("Delete {{ .apiDetail.Name }} ?");'>
                      Delete
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
      <a href="/apis/{{ .apiDetail.Name }}/plugins" class="btn btn-default" roke="button">Plugins</a>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
