<!DOCTYPE html>
<html>
  <head>
    {{ if .error }}
    <title>{{ .error }}</title>
    {{ else }}
    <title>{{ .credential.Username }}</title>
    {{ end }}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/octicons.css">
  </head>
  <body>
    {{ template "navbar" . }}
    <div class="container">
      <h1>{{ .credential.Username }}</h1>
      {{ if .error }}
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Error: {{ .error }}
      </div>
      {{ end }}
      {{ if .success }}
      <div class="alert alert-success">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        Success: {{ .success }}
      </div>
      {{ end }}
      {{ if .credential }}
      <form action="/consumers/{{ .consumerID }}/basic-auth/{{ .credential.ID }}" method="POST">
        <div class="form-group">
          <label>ID:</label>
          <input type="text" class="form-control" value="{{ .credential.ID }}" readonly="readonly">
        </div>
        <div class="form-group">
          <label>Consumer ID:</label>
          <input type="text" class="form-control" value="{{ .credential.ConsumerID }}" readonly="readonly">
        </div>
        <div class="form-group">
          <label for="form-username">Username:</label>
          <input type="text" id="form-username" class="form-control" name="username" value="{{ .credential.Username }}" required="required">
        </div>
        <div class="form-group">
          <label for="form-password">Password:</label>
          <input type="password" id="form-password" class="form-control" name="password" placeholder="{{ .credential.Password }}">
        </div>
        <div class="form-group">
          <label>Created At:</label>
          <input type="text" class="form-control" value="{{ .credential.CreatedAt }}" readonly="readonly">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Update</button>
      </form>
      {{ end }}
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
