<!DOCTYPE html>
<html>
  <head>
    <title>New Plugin</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/octicons.css">
  </head>
  <body>
    {{ template "navbar" . }}

    <div class="container">
      <h1>Plugin</h1>
      <p>
        {{ if .error }}{{ .message }}{{ end }}
      </p>
      <form action="/apis/{{ .apiName }}/plugins/" method="post">
        <div class="form-group">
          <label>NAME:</label>
          <input type="text" class="form-control" name="plugin_name" value="{{ .pluginName }}" readonly>
        </div>
        {{ if not .noConsumer }}
        <div class="form-group">
          <label>CONSUMER:</label>
          <select class="form-control" name="plugin_consumer_id">
            <option value=""></option>
            {{ range .consumers }}
            <option value="{{ .ID }}">{{ .Username }}</option>
            {{ end }}
          </select>
        </div>
        {{ end }}
        {{ range $key, $field := .fields }}
        <div class="form-group">
          {{ if eq $field.Type "boolean" }}
          <label>
            <input type="checkbox" name="{{ $key }}" value="true" {{ if $field.Default }} checked {{ end }}>
            {{ $key }}
          </label>
          {{ else if eq $field.Type "table" }}
          {{ range $key2, $field := $field.Schema.Fields }}
          {{ $key := printf "%s.%s" $key $key2 }}
            <div class="form-group">
              <label>{{ $key }}</label>
              <input type="text" class="form-control" name="{{ $key }}" {{ if $field.Required }} required {{ end }}>
            </div>
          {{ end }}
          {{ else }}
          <label>{{ $key }}:</label>
          <input type="text" class="form-control" name="{{ $key }}" value="{{ $field.Default }}" {{ if $field.Required }} required {{ end }}>
          {{ end }}
        </div>
        {{ end }}
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
