<!DOCTYPE html>
<html>
  <head>
    <title>New Plugin</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/octicons.css">
  </head>
  <body>
    {{ template "navbar" . }}

    <div class="container">
      <h1>Plugin</h1>
      <p>
        {{ if .error }}{{ .message }}{{ end }}
      </p>
      <form class="" action="/apis/{{ .apiName }}/new-plugin" method="post">
        <div class="form-group">
          <label>NAME:</label>
          <select name="name" class="form-control">
            {{ range $name, $enabled := .plugins }}
            {{ if $enabled }}
            <option value="{{ $name }}">{{ $name }}</option>
            {{ end }}
            {{ end }}
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
