<!DOCTYPE html>
<html>
  <head>
    <title>New Basic Authentication Credential</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/octicons.css">
  </head>
  <body>
    {{ template "navbar" . }}

    <div class="container">
      <h1>Basic Authentication Credential</h1>
      {{ if .error }}
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ .error }}
      </div>
      {{ end }}
      <form action="/consumers/{{ .consumerID }}/basic-auth" method="POST">
        <div class="form-group">
          <label for="form-username">Username:</label>
          <input type="text" id="form-username" class="form-control" name="username" value="{{ if .consumer }}{{ .consumer.Username }}{{ end }}" required="required">
        </div>
        <div class="form-group">
          <label for="form-password">Password:</label>
          <input type="password" id="form-password" class="form-control" name="password" required="required">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
