<!DOCTYPE html>
<html>
  <head>
    <title>OAuth2</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/octicons.css">
  </head>
  <body>
    {{ template "navbar" . }}
    <div class="container">
      <h1>OAuth2
        <a class="btn btn-success btn-lg" href="/new-oauth2" role="button">New</a>
      </h1>
      <p>
        {{ if .error }}{{ .err }}{{ end }}
      </p>
      <div class="panel panel-default">

        <!-- Default panel contents -->
        <div class="panel-heading">OAuth2 Total: {{ .total }}
        </div>
        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {{ range .consumers }}
            <tr>
              <td><a href="/oauth2s/{{ .Username }}">{{ .ID }}</a></td>
              <td>{{ .Username }}</td>
              <td>
                <form method="POST" action="/oauth2s/{{ .Username }}/delete">
                  <button type="submit" class="btn btn-danger" onclick='return confirm("Delete {{ .Username }} ?");'>
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
